@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@import "tailwindcss";

@theme {
  /* Primary color */
  --color-primary: #006d5a;

  /* Secondary colors */
  --color-secondary-200: #fed16a;
  --color-secondary-300: #fff4a4;
  --color-secondary-400: #fff1c1;
  --color-secondary-500: #ff942d;

  /* Background colors */
  --color-background: #fff;
  --color-background-dark: #000;
  --color-background-primary: #006d5a;

  /* Text color */
  --color-text-primary: #000;
  --color-text-primary-dark: #c3c3c3;
  --color-text-secondary: #777;
  --color-text-secondary-dark: #c3c3c3;
}

@layer base {
  :root {
    /* Light mode (default) */
    --bg-main: var(--color-background);
    --bg-green: var(--color-background-primary);
    --text-main: var(--color-text-primary);
    --text-secondary: var(--color-text-secondary);
    --text-tertiary: var(--color-secondary-300);
    --bg-btn: var(--color-secondary-200);
    --text-active: var(--color-secondary-500);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: "Poppins", sans-serif;
  }
}

  @layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

/* Active state of navlinks */
nav {
  a.active {
    color: var(--text-active);
  }
}

.animate-slide-in {
  animation: slideIn 0.4s ease-in-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
